<%- include('header.ejs') %>


<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            <div class="intro-text-box">
                <h1>Startup and Technology News</h1>
                <p>Looking for tech blogs to keep up with the latest technology trends? No worries! Your search ends here! Read on…

                    People from different walks of life are intrigued by the way technology is progressing at a profuse rate, shaping our lives into the digital world!</p>
            </div>
        </div>
        <img src="image/banner.jpg" alt="banner" />
    </div>
</section>
<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">

            <% d.forEach((item)=>{ %>
            <div class="col-md-4" >
                <div class="blog-box">
                    <img src="<%= item.image.url %> " width="300" height="300" alt="blog1" />
                     
                    <h3> <%= item.title %></h3>
                    <p><%= item.createdAt.toLocaleDateString() %></p>
                    <p><%= item.description.slice(0,150) %></p>
                    <a href="/blogdetail/<%= item._id %>" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            <% }) %>
            
            
            
            
            
             
            
             
        </div>
    </div>
</section>
<%- include('footer.ejs') %>