<%- include ('../../header.ejs') %>

    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3"><%- include ('../links.ejs') %></div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Blogs of <%= blogview._id %></h1>
                                </div>
                                
                            </div>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>S.No</th>
                                    <!-- <th>Image</th> -->
                                    <th>Title</th>
                                    <th>Description</th>

                                </tr>

                                <tr>
                                    <td>
                                        <%= blogview._id %>
                                    </td>
                                    <td>
                                        <%= blogview.title %>
                                    </td>
                                    <td>
                                        <%= blogview.description %>
                                    </td>

                                </tr>
                                
                                    
                                  

                                



                            </table>
                            <div>
                                <img src="<%= blogview.image.url %>" width="400px" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>

    <%- include ('../../footer.ejs') %>